:root {
  --base: #f2f2f2;
  --black: #222222;
  --primary: #007add;
  --success: #35d1a5;
  --danger: #e67087;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--black);
  background: var(--base);
  line-height: 1.6;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}
